<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="fediverse:creator" content="@evodevo_papers@biologists.social">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>
        .post-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
        .feed-item {
            display: flex;
            justify-content: space-between;
        }
        .timestamp {
          color: var(--text-light);
        }
    </style>
  <title>EvoDevo Papers</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/" class="current">Home</a></li>
        <li><a rel="me" href="https://biologists.social/@evodevo_papers">Mastodon</a></li>
        <li><a rel="me" href="https://github.com/bruvellu/evodevo-papers">GitHub</a></li>
      </ul>
    </nav>
    <h1>📑 EvoDevo Papers</h1>
    <p>Streaming the latest papers about evolutionary developmental biology</p>
  </header>
  <main>
    <section>
      <h2>Latest</h2>
      {% for status in statuses %}
      <div class="post-item">
        <strong><a href="{{ status.url }}">{{ status.post.title }}</a></strong>
        <span class="timestamp">{{ status.created_at }}</span>
      </div>
      {% endfor %}
    </section>
    <section>
      <h2>Feeds</h2>
      {% for feed in feeds %}
      <div class="feed-item">
          <strong><a href="{{ feed.source.feed_url }}">{{ feed.name }}</a></strong>
          <span class="timestamp">{{ feed.source.last_change }}</span>
      </div>
      {% endfor %}
    </section>
    <section>
      <h2>Disclaimer</h2>
      <p><strong>EvoDevo Papers</strong> is not affiliated to any journal or publisher. Its purpose is to serve the EvoDevo community. If you have suggestions or ideas for improvement to make this bot more useful, please <a href="https://github.com/bruvellu/evodevo-papers/issues">let me know</a>!</p>
    </section>
    <section>
      <h2>Acknowledgments</h2>
      <p><strong>EvoDevo Papers</strong> was inspired by the pioneering <a href="https://twitter.com/fly_papers">@fly_papers</a> (RIP) and <a href="https://twitter.com/phy_papers">@phy_papers</a>. I created the initial version based on the <a href="https://github.com/roblanf/phypapers">phypapers documentation</a> using automation services like <a rel="nofollow" href="https://dlvrit.com">dlvrit</a>, <a rel="nofollow" href="https://ifttt.com">IFTTT</a>, and <a rel="nofollow" href="https://zapier.com">Zapier</a>. It was active as a Twitter bot from 2015–2023, until changes in the Twitter API limited its functionalities. The Mastodon bot version exists since December 2022. I ran it using <a href="https://gitlab.com/chaica/feed2toot/">feed2toot</a> until December 2023, when it stopped working. This motivated me to re-build the bot from scratch in January 2024 to improve robustness and flexibility. The current version of <strong>EvoDevo Papers</strong> is powered by:</p>
      <ul>
        <li><a href="https://www.djangoproject.com">Django</a> (a Python web framework)</li>
        <li><a href="https://github.com/xurble/django-feed-reader">django-feed-reader</a> (a Django package for feed consumption)</li>
        <li><a href="https://django-distill.com/">django-distill</a> (a Django package for generating static websites)</li>
        <li><a href="https://github.com/halcy/Mastodon.py">Mastodon.py</a> (a Python library for the Mastodon API)</li>
        <li><a href="https://simplecss.org">Simple.css</a> (a CSS framework for semantic HTML)</li>
      </ul>
    </section>
  </main>
  <footer>
    <p>2024 <strong>EvoDevo Papers</strong> | <a rel="me" href="https://biologists.social/@evodevo_papers">@evodevo_papers@biologists.social</a><br>Made with love by <a href="https://brunovellutini.com">Bruno C. Vellutini</a> | <a href="https://biologists.social/@bruvellu">@bruvellu@biologists.social</a></p>
  </footer>
</body>
</html>
