#logo {
    max-width: 1200px;
    margin: 1rem auto;
    line-height: 1.1;
    overflow-wrap: break-word;
    font-size: 4rem;
    display: block;
    font-weight: bold;
}

#search-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
  padding: 1rem;
}

#search-overlay.show {
  display: block;
}

#search-modal {
  position: relative;
  max-width: 30rem;
  margin: 20vh auto 0;
  color: var(--text);
  background: var(--bg);
  border-radius: var(--standard-border-radius);
  border: var(--border-width) solid var(--border);
  padding: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

#search-form {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

#search-input {
  margin-bottom: 0;
  flex: 1;
}

#search-count {
  color: var(--text-light);
}

#search-clear {
  display: none;
}

#search-clear.show {
  display: inline;
}

#search-results:not(:empty) {
  display: block;
}

#search-results {
  display: none;
  margin: 1rem auto 0;
  max-height: 30rem;
  overflow-y: auto;
}

#search-results li {
  line-height: 1.5;
}

#search-results mark {
  padding: 0;
}

header nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem; /*Give more space to website name*/
}

header nav ul, header nav ol {
  align-items: flex-start; /*Make search button top-aligned*/
}

.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.metadata {
  color: var(--text-light);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 1rem;
}

.icon {
  vertical-align: middle;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

h1.post-title {
  font-size: 2rem;
}

@media (width <= 640px) {
  #emoji {
    display: none;
  }
  #search-results {
    max-height: 20rem;
  }
}
