#logo {
    max-width: 1200px;
    margin: 1rem auto;
    line-height: 1.1;
    overflow-wrap: break-word;
    font-size: 4rem;
    display: block;
    font-weight: bold;
}

header nav {
  padding-bottom: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.metadata {
  color: var(--text-light);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 1rem;
}

.icon {
  vertical-align: middle;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

h1.post-title {
  font-size: 2rem;
}
