{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block description %}EvoDevo Papers is a literature bot that posts the latest research papers in the field of evolutionary developmental biology.{% endblock %}
{% block main %}
<section>
  <h1>About</h1>
  <p><strong>EvoDevo Papers</strong> was inspired by the pioneering <a href="https://twitter.com/fly_papers">@fly_papers</a> (RIP) and <a href="https://twitter.com/phy_papers">@phy_papers</a>. I created the initial version based on the <a href="https://caseybergman.wordpress.com/2014/02/24/keeping-up-with-the-scientific-literature-using-twitterbots-the-flypapers-experiment/">fly_papers post</a> and the <a href="https://github.com/roblanf/phypapers">phy_papers documentation</a>, using automation services like <em>dlvrit</em>, <em>IFTTT</em>, and <em>Zapier</em>. It operated as a Twitter bot from 2015 to 2023, but after the takeover and subsequent API changes, it could no longer post there.</p>
  <p>Meanwhile, <strong>EvoDevo Papers</strong> has been posting on Mastodon since 2022. The first version was based on <a href="https://gitlab.com/chaica/feed2toot/">feed2toot</a>. However, due to recurrent issues with this setup, I rebuilt the bot from scratch to enhance its robustness and flexibility. The new version, which has been running smoothly since January 2024, is powered by:</p>
  <ul>
    <li><a href="https://www.djangoproject.com">Django</a> (a Python web framework)</li>
    <li><a href="https://github.com/xurble/django-feed-reader">django-feed-reader</a> (a Django package for feed consumption)</li>
    <li><a href="https://django-distill.com/">django-distill</a> (a Django package for generating static websites)</li>
    <li><a href="https://github.com/halcy/Mastodon.py">Mastodon.py</a> (a Python library for the Mastodon API)</li>
    <li><a href="https://simplecss.org">Simple.css</a> (a CSS framework for semantic HTML)</li>
    <li><a href="https://icons.getbootstrap.com">Bootstrap Icons</a> (a collection of open source SVG icons)</li>
  </ul>
</section>
{% endblock %}
