{% extends 'base.html' %}
{% block title %}Feeds{% endblock %}
{% block description %}List of journal feeds indexed by EvoDevo Papers.{% endblock %}
{% block main %}
<section>
  <h1>Feeds</h1>
  {% for feed in feeds %}
  <p class="item">
    <strong><a href="{{ feed.get_absolute_url }}">{{ feed.name }}</a></strong>
    <span>{{ feed.description }}</span>
    <span><strong>Updated:</strong> {% if feed.source %}{{ feed.source.last_change }}{% else %}Not active{% endif %}</span>
    <span><strong>Total:</strong> {{ feed.post_set.count }} papers</span>
  </p>
  {% endfor %}
</section>
{% endblock %}
