{% include 'nav.html' %}
<div id="logo">📑 EvoDevo Papers</div>
<p>Streaming the latest papers in evolutionary developmental biology</p>

{% comment %}TODO: Move search to single button on menu, when clicked a floating search bar appears, typing autocompletes the list of posts{% endcomment %}

{% comment %}<div id="search">{% endcomment %}
{% comment %}<form id="search-form">{% endcomment %}
  {% comment %}<input{% endcomment %}
    {% comment %}type="text"{% endcomment %}
    {% comment %}id="search-input"{% endcomment %}
    {% comment %}placeholder="Search posts..."{% endcomment %}
    {% comment %}required{% endcomment %}
  {% comment %}>{% endcomment %}
  {% comment %}<button type="submit">Search</button>{% endcomment %}
{% comment %}</form>{% endcomment %}
{% comment %}<div id="search-results"></div>{% endcomment %}
{% comment %}</div>{% endcomment %}

