{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="fediverse:creator" content="@evodevo_papers@biologists.social">
<link rel="icon" href="{% static 'favicon.ico' %}" sizes="any">
<link rel="alternate" type="application/rss+xml" title="EvoDevo Papers" href="/rss/" />
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<script src="https://cdn.jsdelivr.net/gh/nextapps-de/flexsearch@0.8.2/dist/flexsearch.bundle.min.js"></script>
<script src="{% static 'search.js' %}"></script>
