{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block description %}EvoDevo Papers is a literature bot that posts the latest research papers in the field of evolutionary developmental biology.{% endblock %}
{% block main %}
<section>
  <h1>Latest posts <a href="/rss/" title="EvoDevo Papers RSS feed"><svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2m0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2m.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/></svg></a></h1>
  {% for post in posts %}
  <p class="item">
    <strong><a href="{{ post.get_absolute_url }}">{{ post.entry.title }}</a></strong>
    <span><strong>Posted:</strong> {{ post.created }}</span>
  </p>
  {% endfor %}
  <div>
    <a href="{% url 'posts' %}"><button>All posts</button></a>
    <a href="{% url 'feeds' %}"><button>Journal feeds</button></a>
    <a href="{% url 'about' %}"><button>About the site</button></a>
  </div>
</section>

<section>
  <h1>Disclaimer</h1>
  <p class="notice">
    <strong>EvoDevo Papers</strong> is not affiliated to any journal or publisher. Its purpose is to serve the EvoDevo community. If you have suggestions or ideas for improvement to make this bot more useful, please <a href="https://github.com/bruvellu/evodevo-papers/issues">let me know</a>!
  </p>
</section>
{% endblock %}
