{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block description %}EvoDevo Papers is a literature bot that posts the latest research papers in the field of evolutionary developmental biology.{% endblock %}
{% block main %}
<section>
  <h1>Latest posts <a href="/rss/" title="EvoDevo Papers RSS feed">{% include 'icon_feed.html' %}</a></h1>
  {% for post in posts %}
  <p class="item">
    <strong><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></strong>
    <span><strong>Created:</strong> {{ post.created }}</span>
  </p>
  {% endfor %}
  <div>
    <a href="{% url 'posts' %}"><button>All posts</button></a>
    <a href="{% url 'feeds' %}"><button>Journal feeds</button></a>
    <a href="{% url 'about' %}"><button>About the site</button></a>
  </div>
</section>

<section>
  <h2>Disclaimer</h2>
  <p class="notice">
    <strong>EvoDevo Papers</strong> is not affiliated to any journal or publisher. Its purpose is to serve the EvoDevo community. If you have suggestions or ideas for improvement to make this bot more useful, please <a href="https://github.com/bruvellu/evodevo-papers/issues">let me know</a>!
  </p>
</section>
{% endblock %}
