<nav>
  <ul>
    {% with path=request.get_full_path %}
    <li><a href="/" class="{% if path == "/" %}current{% endif %}">Home</a></li>
    <li><a href="/about/" class="{% if path == "/about/" %}current{% endif %}">About</a></li>
    <li><a href="/feeds/" class="{% if path == "/feeds/" %}current{% endif %}">Feeds</a></li>
    <li><a href="/posts/" class="{% if path == "/posts/" %}current{% endif %}">Posts</a></li>
    {% endwith %}
  </ul>
  <ul>
    <li><a href="/rss/" title="EvoDevo Papers RSS feed">{% include 'icon_feed.html' %}</a></li>
    <li><a rel="me" href="https://biologists.social/@evodevo_papers" title="EvoDevo Papers on Mastodon">{% include 'icon_mastodon.html' %}</a></li>
    <li><a rel="me" href="https://bsky.app/profile/evodevo-papers.bsky.social" title="EvoDevo Papers on Bluesky">{% include 'icon_bluesky.html' %}</a></li>
    <li><a rel="me" href="https://github.com/bruvellu/evodevo-papers" title="EvoDevo Papers on GitHub">{% include 'icon_github.html' %}</a></li>
    <li>{% include 'search.html' %}</li>
  </ul>
</nav>
