{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}Posts{% endblock %}
{% block description %}All the posts created by EvoDevo Papers.{% endblock %}
{% block main %}
<section>
  <h1>Posts</h1>
  {% for post in posts %}
  <div class="notice">
    <p>{{ post.display_text|urlize }}</p>
    <span class="metadata">
      <span>
        <a href="{{ post.get_absolute_url }}" title="Post on EvoDevo Papers">{% include 'icon_page.html' %}</a>
        {% render_statuses_links post %}
      </span>
      <span>{{ post.created }}</span>
    </span>
  </div>
  {% endfor %}
</section>
{% endblock %}
