{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% block description %}All the posts created by EvoDevo Papers.{% endblock %}
{% block main %}
<section>
  <h1>Posts</h1>
  {% for post in posts %}
  <div class="notice">
    <p>{{ post.display_text|urlize }}</p>
    <span class="metadata">
      <span>
        <a href="{{ post.get_absolute_url }}" title="Post on EvoDevo Papers">{% include 'icon_page.html' %}</a>
        {% for status in post.statuses.all %}
        <a href="{{ status.url }}" title="Post on {{ status.client.platform }}">
          {% with icon_template="icon_"|add:status.client.platform|lower|add:".html" %}
          {% include icon_template %}
          {% endwith %}
        </a>
        {% endfor %}
      </span>
      <span>{{ post.created }}</span>
    </span>
  </div>
  {% endfor %}
</section>
{% endblock %}
