{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% block description %}All the posts created by EvoDevo Papers.{% endblock %}
{% block main %}
<section>
  <h1>Posts</h1>
  {% for post in posts %}
  <p class="notice">
    {{ post.text|urlize }}
    <span class="metadata">
      <span>
        <a href="{{ post.get_absolute_url }}" title="Post on this website">{% include 'icon_page.html' %}</a>
        <a href="{{ post.url }}" title="Post on Mastodon">{% include 'icon_mastodon.html' %}</a>
      </span>
      <span>{{ post.created }}</span>
    </span>
  </p>
  {% endfor %}
</section>
{% endblock %}
